* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.answers {
  display: none;
}
.container {
  position: relative;
  max-width: 1440px;
  margin: 10px auto;
  border: 1px solid black;
}
.container-unit {
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: rgb(220, 48, 85);
  color: white;
  height: 100px;
  align-items: center;
}
.sgn-btn button {
  padding: 10px;
  border-radius: 5px;
  background: orange;
  border: none;
  color: white;

  cursor: pointer;
}
.sgn-btn button:hover {
  background: rgb(221, 170, 77);
}

#unitH1 {
  margin-top: 10px;
  width: 100%;
  background: red;
  color: white;
}
#theme {
  font-style: italic;
  font-size: 24px;
  font-weight: bold;
}
.unit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
  gap: 5px;
}
.block img {
  width: 320px;
  height: 240px;
  border-radius: 10px;
}
.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-align: center;
}
.block p {
  font-size: 18px;
}
.col {
  color: black;
  font-weight: bold;
  padding: 2px;
  border-radius: 50%;
}
.col2 {
  font-weight: 700;
}
.tr {
  font-weight: 100;
  font-style: italic;
  color: grey;
}

#unitH1 {
  padding-left: 10px;
  font-size: 24px;
}
h3 {
  padding-left: 20px;
  padding-top: 20px;
  font-weight: 300;
}
.tobe-form {
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  flex-wrap: wrap;
}
.exml {
  padding: 10px;
}
.tobeimg {
  width: 320px;
}

/*container exercise*/

.exs-container {
  display: flex;
  gap: 40px;
  padding: 10px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.boxecer {
  border-radius: 10px;
  padding: 5px;
  max-width: 490px;
  border: 3px dotted black;
}

.boxecer p {
  line-height: 1.2;
}
.boxecer input {
  text-align: center;
  border: none;
  outline: none;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s;
  width: auto;
  border-bottom: 2px dotted black;
}
.forsearch {
  display: none;
}
